/* Font imports
@import url(//fonts.googleapis.com/css?
  family=Acme);
@import url(//fonts.googleapis.com/css?
  family=Signika);
@import url(//fonts.googleapis.com/css?
  family=Permanent+Marker);
@import url(//fonts.googleapis.com/css?family=Staatliches:300,500);*/
/***** NAVBAR *****/
/*a.gfont{
  font-family:'Staatliches';
}*/
.navbar-default {
  background-color: #DAECED;
  border-radius: 0;
  background-image: none;
}

/* Navbar title */
.navbar-default .navbar-brand {
  font-family: 'Staatliches';
  color: #B5966D;
  font-size: 20px;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #B5966D;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
  font-family:'Staatliches'
  color: #DAECED;
  font-size: 20px;
}

/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
  color: #DAECED;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #b62a3d;
  color: #b62a3d;
}

/*** Portfolio pieces ***/
.portfolio-thumbnail {
  background-color: #DAECED;
  border-color: #DAECED;
  border-width: 1px;
  width: 95%;
  margin-top: 100%;
}

.portfolio-thumbnail:checked,
.portfolio-thumbnail:hover {
  border-color: #DAECED;
  border-width: 3px;
}

.portfolio-title {
  font-weight: bold;
}

.portfolio-description {
}

.portfolio-image {
}

#about-world {
  max-height: 200px;
}
.resume h3 {
  font-family: 'Permanent Marker';
  text-align: center;
}

h4 {
  text-align: justify;
}

hr {
  border-color: #27223c;
  border-width: 3px;
  text-align: center;
}

ul {
  text-align: left;
}

p {
  font-size: 20px;
  text-align: center;
}

a {
  color: #deb18b;
  text-align: center;
}

a:hover {
  color: #deb18b;
}

.jumbotron {
  /*background-image: url("../assets/contour-lines.png");*/
  text-align: center;
  color: #deb18b;
  padding: 2%;
}

.jumbotron h2 {
  font-family: 'Staatliches';
  font-size: 36px;
}

body {
  padding-top: 50px;
  text-align: center;
  font-family: 'Staatliches';
  background-color: #b62a3d;
  color: #d3dddc;
}

canvas {
  border: 1px solid black;
  width: 560px;
  height: 360px;
}
.containerb {
  height: 100vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .5fr .5fr .5fr;
}
.cell {
  color: #585858;
  font-family: "Staatliches";
  font-size: 3rem;
  text-align: center;
  padding: 5rem;
}
.cell-1 {
  background: #9A872D;
}
.cell-2 {
  background: #F5CDB6;
  image-orientation: center;
}
.cell-2:checked,
.cell-2:hover {
  border-color: #DAECED;
  border-width: 3px;
}
.cell-3 {
  background: #F7B0AA;
}
.cell-4 {
  background: #A35E60;
}
.cell-5 {
  background: #541F12;
}
.cell-6 {
  background: #CECD7B;
}
.cell-7 {
  background: #27223C;
}
.cell-8 {
  background: #CC8B3C;
}
.cell-9 {
  background: #456355;
  image-orientation: center;
}
cell-9.portfolio-thumbnail:hover {
  border: #585858;
  border-width: thick;
}
